@model Model

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/angular.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>hej hej</h1>
    </div>
</body>
</html>